.skill-button {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-color: var(--secondary);
    color: var(--white);
    background-color: var(--primary);
    border-radius: 5px;
    border-left-width: 0px;
    border-top-width: 0px;
    padding: 5px 14px 5px 14px;
  }

.all-skills{
    font-size:large;
}
.socialLink{
  font-size:large;
}